<div class="container">
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <form name="addUserForm" ng-submit="LoginVm.formSubmit()"  >
            <div class="form-group">
                <label for="name">User Name</label>
                <input type="name" name="name"  class="form-control" id="name" placeholder="Enter your name" ng-model="LoginVm.name" required minlength="5">
                <div class="error" ng-messages="addUserForm.name.$error" ng-if='addUserForm.name.$dirty'>
                    <p ng-message="required">Please enter your name</p>
                    <p ng-message="minlength">minimum length is 5</p>
                </div>
            </div>
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="Email"  name="Email" required class="form-control" id="Email" placeholder="someone@domain.com" ng-model="LoginVm.Email">
                <div class="error" ng-messages="addUserForm.Email.$error"  ng-if='addUserForm.Email.$dirty'>
                    <p ng-message="required">Please enter your email</p>

                </div>
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input type="password"  name="password" required minlength="8" class="form-control" id="Password" ng-model="LoginVm.Password"  strong-password>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" id="progressBar" ng-model="LoginVm.Bar"  role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 10%" strong-password>
                    </div>
                </div>
                <ul ng-messages="addUserForm.password.$error" multiple="true">
                    <li ng-message="containsSpecial">
                        Your password must contain at least one non-letter, non-digit character
                    </li>
                    <li ng-message="containsDigit">
                        Your password must contain at least one digit
                    </li>
                    <li ng-message="containsUppercase">
                        Your password must contain at least one uppercase letter
                    </li>
                </ul>
            </div>
            <div class="form-group">
                <label id="cardLable" for="cardNumber">Credit card number</label>

                    <div id="cardImageComponent">
                        <img  id="cardImage" ng-src="/personalWebsite/src/images/{{LoginVm.cardLogo}}" />
                    </div>
                    <div id="cardLableComponent">
                        <input type="cardNumber" name="cardNumber"  required class="form-control" ng-model="LoginVm.value" ng-change="LoginVm.cardCompanyEvaluator()" id="cardNumber" placeholder="xxxx-xxxx-xxxx-xxxx">
                    </div>
                    <div class="error"  ng-messages="addUserForm.cardNumber.$error" ng-if='addUserForm.cardNumber.$dirty'>
                        <p ng-message="required">Please enter your email</p>
                    </div>

            </div>
            <button type="submit" class="btn btn-primary">Create Account</button>


    </div>
    <div class="col-sm-3">
        {{LoginVm.numberStr}}
        <table border="1">
            <tr>
                <td><button ng-click="LoginVm.testFunction(7)">7</button></td>
                <td><button ng-click="LoginVm.testFunction(8)">8</button></td>
                <td><button ng-click="LoginVm.testFunction(9)">9</button></td>
            </tr>
            <tr>
                <td><button ng-click="LoginVm.testFunction(4)">4</button></td>
                <td><button ng-click="LoginVm.testFunction(5)">5</button></td>
                <td><button ng-click="LoginVm.testFunction(6)">6</button></td>
            </tr>
            <tr>
                <td><button ng-click="LoginVm.testFunction(1)">1</button></td>
                <td><button ng-click="LoginVm.testFunction(2)">2</button></td>
                <td><button ng-click="LoginVm.testFunction(3)">3</button></td>
            </tr>
            <tr>
                <td><button ng-click="LoginVm.testFunction('+')">+</button></td>
                <td><button ng-click="LoginVm.testFunction('-')">-</button></td>
                <td><button ng-click="LoginVm.testFunction('=')">=</button></td>
            </tr>
            <tr>
                <td><button ng-click="LoginVm.testFunction('*')">*</button></td>
                <td><button ng-click="LoginVm.testFunction('/')">/</button></td>
                <td><button ng-click="LoginVm.testFunction('0')">0</button></td>
            </tr>
        </table>
    </div>
    </div>
</div>